#Layer1 {
    position: absolute;
    left: 35px;
    top: 26px;
    width: 390px;
    height: 423px;
    z-index: 1;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 36px;
    background-color: #CCCCCC;
    text-align: center;
    padding: 50px;
    line-height: 423px;
}
#Layer2 {
 position: absolute;
 left: 587px;
 top: 180px;
 width: 465px;
 height: 157px;
 z-index: 2;
 font-size: 12px;
 background-color: #CCFFFF;
 padding: 20px;
 border: thin solid #333333;
}
.botones {
    width: 100px;
}